<!DOCTYPE html>
<html>
	<title></title>
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  </head>


{% block extrahead %}


{% endblock %}



<body>




<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top nav1">
<div class="container">
  
  <a class="navbar-brand" href="#"><img src="{% static 'image/l.png' %}" style="padding: 2px 10px; height: 48px; "></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarNav">
  
   
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link " href="{% url 'home' %}"><span class="nav-style">HOME</span>  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="nav-style">PRODUCTS</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="nav-style">BLOG</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"><span class="nav-style">PRICING</span></a>
      </li>
      <li><button class="btn " style="margin-top: 2px;"><i class="fa fa-user-circle-o" aria-hidden="true" style=" font-size: 20px;"> <span style="font-weight: bold;">LOG IN</span> </button></i></li>
    </ul>
  </div>
  </div>
</nav>

{% block content %}


{% endblock %}

<footer>
  <div class="row">
    <div class="col-sm-3">
      <h5>US HEADQUARTER</h5>
      <P>+1 (206) 623.1986
        901 Fifth Avenue
        Suite 1200
        Seattle, WA 98164</P>
    </div>
    <div class="col-sm-3">
      <h5>EUROPEAN HEADQUARTERS </h5>
      <P>+44 020 8037 2308
      1st Floor Saffron House
      6-10 Kirby Street
      London EC1N 8TS
      United Kingdom</P>
    </div>
    <div class="col-sm-3">
      <h5>NEW YORK</h5>
      <P>+1 (206) 623.1986
      315 Park Avenue South
      14th Floor
      New York, NY 10010</P>
    </div>
    <div class="col-sm-3">
      <h5>CONTACT US </h5>
      <P>+1 (206) 623.1986
        901 Fifth Avenue
        Suite 1200
        Seattle, WA 98164</P>
    </div>
  </div>
  <P class="para1">© 2020 PitchBook Data. All rights reserved. PitchBook is a financial technology company that provides data on the capital markets.</P>
  <p>Site Map Terms of Use Privacy Policy California Consumer: Do Not Sell My Info</p>
</footer>




</body>
</html>