
{% extends 'base.html' %}
{% load static %}




{% block extrahead %}

<script>

	window.onload = function () {
	
	var chart1 = new CanvasJS.Chart("chartContainer1", {
		animationEnabled: true,
		title:{
			text: "SALES GROWTH RATE"
		},	
		axisY: {
			title: "Sales Growth Rate",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC"
		},
			
		toolTip: {
			shared: true
		},
		legend: {
			cursor:"pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "column",
			name: "Sales Growth Rate",
			legendText: "Sales Growth Rate",
			showInLegend: true, 
			dataPoints:[
				
				{ label: "2014-2015", y: -0.007376 },
				{ label: "2015-2016", y:  0.098673 },
				{ label: "2016-2017", y:  0.010404 },
				{ label: "2017-2018", y: -0.003758 },
				{ label: "2018-2019", y: -0.001071 }
			]
		}]
	});
	chart1.render();
	
	function toggleDataSeries(e) {
		if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
			e.dataSeries.visible = false;
		}
		else {
			e.dataSeries.visible = true;
		}
		chart1.render();
	}
	
	
	
	var chart2 = new CanvasJS.Chart("chartContainer2", {
		animationEnabled: true,
		title:{
			text: "NET PROFIT MARGIN"
		},	
		axisY: {
			title: "Net Profit Margin",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC"
		},
			
		toolTip: {
			shared: true
		},
		legend: {
			cursor:"pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "column",
			name: "Net Profit Margin ",
			legendText: "Net Profit Margin",
			showInLegend: true, 
			dataPoints:[
				{ label: "2013-2014", y: 0.004365 },
				{ label: "2014-2015", y: -2.156384 },
				{ label: "2015-2016", y:  0.242601 },
				{ label: "2016-2017", y: 0.089857 },
				{ label: "2017-2018", y: -0.122412 },
				{ label: "2018-2019", y: -0.424754 }
			]
		}]
	});
	chart2.render();
	
	function toggleDataSeries(e) {
		if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
			e.dataSeries.visible = false;
		}
		else {
			e.dataSeries.visible = true;
		}
		chart2.render();
	}
	
	
	   var chart3 = new CanvasJS.Chart("chartContainer3",
		{
		  title:{
			text: "TOTAL REVENUE VS EBT"
		  
		  },   
		  data: [{        
			type: "column",
		name:"TOTAL REVENUE",
		legendText:"Total Revenue",
		showInLegend:true,
			dataPoints: [
			{ label: "2013-2014", y: 56238532 },
			{ label: "2014-2015", y: 15209177},
			{ label: "2015-2016", y: 162089179 },
			{ label: "2016-2017", y: 333137755 },
			{ label: "2017-2018", y: 224181492 },
			{ label: "2018-2019", y: 219422295 }
			]
		  },
		  {        
				
			type: "column",
		name:"EBT",
		legendText:"EBT",
		showInLegend:true,
			dataPoints: [
			{ label: "2013-2014", y: 245508 },
			{ label: "2014-2015", y: -32796830},
			{ label: "2015-2016", y: 39323020 },
			{ label: "2016-2017", y: 29934753 },
			{ label: "2017-2018", y: -27442562 },
			{ label: "2018-2019", y: -93200429 }
			]
		  }       
		  ]
		});
	
		chart3.render();
	
	
	var chart4 = new CanvasJS.Chart("chartContainer4", {
		animationEnabled: true,
		title:{
			text: "NET WORTH"
		
		},
			
		toolTip: {
			shared: true
		},
		legend: {
			cursor:"pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "column",
			name: "Net Worth ",
			legendText: "Net Worth",
			showInLegend: true, 
			dataPoints:[
				
				{ label: "2014-2015", y: 12767614 },
				{ label: "2015-2016", y:  98409764 },
				{ label: "2016-2017", y: 215988415},
				
				{ label: "2018-2019", y: 813113863 }
			]
		}]
	});
	chart4.render();
	
	function toggleDataSeries(e) {
		if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
			e.dataSeries.visible = false;
		}
		else {
			e.dataSeries.visible = true;
		}
		chart4.render();
	}
	
	}

	</script>
	

<style>

.divnav{
  width: 100%;
  height: 180px;
  /*background-image:url(../image/g.jpg); */
  position: relative;
  background-color:#4890AB /*#f2f2f2*/;
  /*box-shadow: 0px 12px 15px 0px  rgba(0, 0, 0, .1);*/
 /* background-color: #000080;*/
  /*background-color:#31383d;*/
}
.downloadbtn{
	position: absolute;
	left: 1150px;
	top: 100px;
	color:black;
	background-color: white;
	border-radius: 10px;
	height: 35px;
	width: 150px;
	font-size: 15px;
	border:none/*2px solid black*/;
}
.downloadbtn:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.c_image{
	position: absolute;
	left: 20px;
	top: 20px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.c_image{
	border-radius: 7px;
}
.text{
	position: absolute;
	float: left;
	left: 230px;
	top: 60px; 
}
.divnav {
  margin-bottom: 50px;
 }

.divtwo{
	padding-right: 1px;
	box-sizing: border-box;
}
.nav-style1{
	
	background-color: #4890AB;
	color: white;
	font-size: 17px;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 5px;
	
}
.nav-style1:hover{
	background-color:#4169e1; 
	color: white; 
	
}
.founded{
	
	padding: 50px 50px;
	margin-left: 100px;
	width: 900px;
	/*background-color: #f2f2f2;*/
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


@media all and (max-width: 1100px) {
 
  .c_image{
  	width: 100px;
  	height: 100px;
  }
  .founded
  {
  	padding-left: 10px;
	padding-top: 10px;
	margin-left: 22px;
	width: 370px;
	height: auto;
	text-overflow: none;
	/*background-color: #f2f2f2;*/
	font-size: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .downloadbtn{
  	left: 10px;
  	top: 130px;
  }
}





.vl {
  border-left: 1px solid rgba(0,0,0,0.1);
  height: 270px;
  position: absolute;
  left: 55%;
  margin-left: -3px;
  top: 0;
}

.paragraph{
	color:#565350;
}
</style>



{% endblock %}


{% block main_body %}
<!-- content start -->
<div class="container-fluid divnav">
  <div class="img">
    <img src="{% static 'image/idea.jpg' %}"  class="c_image" width="150px" height="150px;" alt="logo">
  </div>
  
  <div class="text">
    <h6><i class="fa fa-outdent" aria-hidden="true"></i> ORGANISATION</h6>

    <h2 align="center">{{name}}</h2>
  </div>
  <button class="downloadbtn"> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>  Download Profile</button>
  </div>


<div class="container-fluid">
  <div class="row">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

      <a class="nav-link nav-style1 " id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="false">About</a>

      <!-- <a class="nav-link nav-style1" id="v-pills-founders-tab" data-toggle="pill" href="#v-pills-founders" role="tab" aria-controls="v-pills-founders" aria-selected="false">Founders</a> -->

      <a class="nav-link nav-style1" id="v-pills-noofemployees-tab" data-toggle="pill" href="#v-pills-noofemployees" role="tab" aria-controls="v-pills-noofemployees" aria-selected="false">No of Employees</a>

      <a class="nav-link nav-style1 " id="v-pills-presentcustomers-tab" data-toggle="pill" href="#v-pills-presentcustomers" role="tab" aria-controls="v-pills-presentcustomers" aria-selected="false">Present Customers</a>

      <a class="nav-link nav-style1" id="v-pills-totalcustomers-tab" data-toggle="pill" href="#v-pills-totalcustomers" role="tab" aria-controls="v-pills-totalcustomers" aria-selected="false">Total Customers</a>

      <a class="nav-link nav-style1" id="v-pills-products-tab" data-toggle="pill" href="#v-pills-products" role="tab" aria-controls="v-pills-products" aria-selected="false">Products</a>

      <a class="nav-link nav-style1" id="v-pills-investors-tab" data-toggle="pill" href="#v-pills-investors" role="tab" aria-controls="v-pills-investors" aria-selected="false">Investors</a>

      <a class="nav-link nav-style1" id="v-pills-news-tab" data-toggle="pill" href="#v-pills-news" role="tab" aria-controls="v-pills-news" aria-selected="false">News</a>

      <a class="nav-link nav-style1" id="v-pills-management-tab" data-toggle="pill" href="#v-pills-management" role="tab" aria-controls="v-pills-management" aria-selected="false">Management Team</a>

      <a class="nav-link nav-style1" id="v-pills-kpi-tab" data-toggle="pill" href="#v-pills-kpi" role="tab" aria-controls="v-pills-kpi" aria-selected="true">KPI</a>

      <!-- <a class="nav-link nav-style1" id="v-pills-downloadprofile-tab" data-toggle="pill" href="#v-pills-downloadprofile" role="tab" aria-controls="v-pills-downloadprofile" aria-selected="true">Download Profile</a> -->
    
      
      
    </div>
  </div>


  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade founded" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
      	<div class="container">
  			<div class="row">
	    		<div class="col">
	     		 <h4>About Us</h4>
	     		 <p class="paragraph">
	     		 	<p><b>Headquarters </b><br/> {{Headquatars}}</p><br>
	     		 	<p><b>Type: </b> <br/>{{Type}}</p><br>
	     		 	<p><b>Specilities  </b><br/>{{Specialities}}</p><br/>
	     		 	<p><b>Company Registered name </b><br/>{{Company_Registered_Name}}</p><br/>
					<p><b>Linkedin </b><br/>  {{Linkedin}}  </p><br/>	
					<p><b><a href="#">Description </a></b> {{description | slice:":100"}}..</p><br/>
	     		 </p>
	   			 </div>
	   			 <div class="vl"></div>
    				
   				<div class="col">
      			<h4>Founded</h4>
    				<p class="paragraph">{{Founded}}</p>
    			</div>
 			</div>
 		</div>
 	</div>


      <!-- <div class="tab-pane fade founded" id="v-pills-founders" role="tabpanel" aria-labelledby="v-pills-founders-tab"><img src="image/client_a.jpg" width="20%" height="20%"><h1>Suraj </h1></div> -->

	  <div class="tab-pane fade founded" id="v-pills-presentcustomers" role="tabpanel" aria-labelledby="v-pills-presentcustomers-tab">

		<div class="container">
			<div class="row">
			  <div class="col">
				
				  <h4>Present Customers</h4>
				<p class="paragraph">
				  
				</p>
				  </div>
				  
				  
				 
		   </div>
	   </div>
	</div>
 
	 
	 
	 
	 
	  <div class="tab-pane fade founded" id="v-pills-noofemployees" role="tabpanel" aria-labelledby="v-pills-noofemployees-tab">
      	
      	<div class="container">
  			<div class="row">
	    		<div class="col">
				  <h4>No Of Employees</h4>
					<br/>
					<br/>
	     		 <p class="paragraph"><h5> Current :</h5> <h5> 51-200 employees</h5>
	   			 </div>
	   			 

 			</div>
 		</div>
	  </div>
	  
	  


      <div class="tab-pane fade founded" id="v-pills-presentcustomers" role="tabpanel" aria-labelledby="v-pills-presentcustomers-tab">

      	<div class="container">
  			<div class="row">
	    		<div class="col">
				  
					<h4>Present Customers</h4>
	     		 <p class="paragraph">
					
				  </p>
	   			 </div>
	   			 
    				
   				
 			</div>
 		</div>
      </div>

      <div class="tab-pane fade founded" id="v-pills-totalcustomers" role="tabpanel" aria-labelledby="v-pills-totalcustomers-tab">
      	
      	<div class="container">
  			<div class="row">
	    		<div class="col">
	     		 <h4>Total Customers</h4>
	     		 <p class="paragraph"> NAN</p>
	   			 </div>
 			</div>
 		</div>
      </div>

      <div class="tab-pane fade founded" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab">
      	
      	<div class="container">
  			<div class="row">
	    		<div class="col">
	     		 <h4>Products</h4>
	     		 <p class="paragraph">{% for i in l1 %}
					<li> {{i}} </li>
					{% endfor %}</p>
	   			 </div>
	   			 
    				
   				
 			</div>
 		</div>
      </div>

      <div class="tab-pane fade founded" id="v-pills-investors" role="tabpanel" aria-labelledby="v-pills-investors-tab">
      	
      	<div class="container">
  			<div class="row">
	    		<div class="col">
	     		 <h4>Investors</h4>
	     		 <p class="paragraph">{% for i in l2 %}
					<li> {{i}} </li>
					{% endfor %}</p>
	   			 </div>
	   			
    				
   				
 			</div>
 		</div>

      </div>

      <div class="tab-pane fade founded" id="v-pills-news" role="tabpanel" aria-labelledby="v-pills-news-tab">
      	
      	<div class="container">
  			<div class="row">
	    		<div class="col">
	     		 <h4>Negative News</h4>
	     		 <p class="paragraph">
					
				<h5>Recent no update </h5>
				  </p>
	   			 </div>
	   			 <div class="vl"></div>
    				
   				<div class="col">
      			<h4>Positive News</h4>
    				<p class="paragraph">
						<ul>
						<li>Drones help Central Railway catch thieves; to now monitor trespassers – Mumbai Mirror, 18 Aug 2020 </li>
						<li>The Growth Potential For Drones In The Delivery And Logistics Domains – EFY, 04 Aug 2020 </li>
						<li>Infosys invests in Indian drone startup ideaForge </li>
						
						<li>ideaForge launches unique drone buyback offer with benefits up to INR 1.5 lakh along with the industry’s first financing option – sUAS News, 22 Jul </li></p>
    			</div>
 			</div>
 		</div>
      </div>

      <div class="tab-pane fade founded" id="v-pills-management" role="tabpanel" aria-labelledby="v-pills-management-tab">
      	
      	<div class="container">
  			<div class="row">
	    		<div class="col">
	     		
	     		 <p class="paragraph">
				<h4 align="center">Team</h4>
				<ul>
				{% for i in ld %}
				<li> {{i}} </li>
				{% endfor %}	
			</ul>
				</p>

				  </p>
	   			 </div>
	   			 
    				
   				
 			</div>
 		</div>
      </div>

      <div class="tab-pane fade  active" id="v-pills-kpi" role="tabpanel" aria-labelledby="v-pills-kpi-tab">
	
		  <div id="chartContainer1" style="height: 200px; width: 100%;"></div>
		  <br/>
		  
		  <div id="chartContainer2" style="height: 200px; width: 100%;"></div>
		  <br/>
		  <br/>
		  <div id="chartContainer3" style="height: 200px; width: 100%;"></div>
		  <br/>
		  <div id="chartContainer4" style="height: 200px; width: 100%;"></div>
		  
		</div>

     </div>



      <!-- <div class="tab-pane fade founded" id="v-pills-downloadprofile" role="tabpanel" aria-labelledby="v-pills-downloadprofile-tab">
      	<div class="container">
  			<div class="row">
	    		<div class="col">
	     		 <h4>About Us</h4>
	     		 <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	     		 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	     		 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	     		 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	     		 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	     		 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	   			 </div>
	   			 <div class="vl"></div>
    				
   				<div class="col">
      			<h4>Founded</h4>
    				<p class="paragraph">It is founded in 1995</p>
    			</div>
 			</div>
 		</div>
       </div> -->
	   <div class="tab-pane fade founded" id="v-pills-management" role="tabpanel" aria-labelledby="v-pills-management-tab">
      	
		<div class="container">
			<div class="row">
			  <div class="col">
				<h4 align="center">Team</h4>
				<p class="paragraph"> 
				{% for i in ld %}
				 {{i}}
				{% endfor %}	

				</p>
				  </div>
				  
				  
				 
		   </div>
	   </div>
	</div>
 
      

      
      </div>
      </div>
    </div>

  </div>
</div>
</div>
<!-- content end -->


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- Kpi script start -->
{% endblock %}