
{% extends 'base.html' %}


{% block main_body %}

<style>
    
.gdpr-div-sec{
    margin: 55px 55px;
}
.gdpr-div-first{
    background-color: #EEEEEE;
    padding: 40px 0 20px;
    text-align: center;
    border-bottom: 7px solid #476990;
    font-size: 46px;
    font-family: Museo slab;
    font-weight: 300;
    line-height: 1.2;
    
    
</style>

<div class="gdpr-div-first">
    <h1>GDPR</h1>
</div>
<div class="gdpr-div-sec">
    <p style="text-align: center;">GDPR</p>
    <p>The EU General Data Protection Regulation (GDPR) aims to protect and empower all EU citizen’s data privacy and provides a framework for processing Personal Information and requires additional steps from organizations to ensure that the rights related to privacy of the applicable data subjects are respected and enforced.
        We at JZATA welcome and fully commit ourselves in complying with requirements of the GDPR and have made changes to our product, services and policies accordingly. Additionally, we will continue to monitor the evolvements of the industry best practises and keep incorporating as applicable. JZATA being a global product may not necessarily differentiate between other geographies and EU and we are sure our customers would also appreciate our uniformity of the services about being in compliance.
        Regarding your Personal Information</p>
        
        <p>If in case you may want to reach out to us for any matter related to your Personal Information, you may please drop us an email at gdpr@jzata.com and we shall ensure that your requests and preferences are honoured under the GDPR.
        Since we research interesting companies around the globe; any Personal Information that may be processed is primarily because of you being associated with those companies and is processed on attributes with respect to your involvement with that company. So, if you are a founder, an investor, a board member or a key person in any of those companies or the startup ecosystem in general, your information is a material aspect of your company and your publicly available information may be processed to that extent.
        The information processed is on lawful basis and only if there is a legitimate interest for processing of such information by us or by our customers, without compromising on any of your rights or interest.
        If we are required under an applicable law to disclose your information, we shall do so.</p>
        <p>As long your association with a company is relevant in a meaningful way your information might be with us and may be made available to our subscribers / potential subscriber.
        For your information - we do not serve advertisements to our customers, nor we have any advertisement revenue directly or indirectly.
        Still we strongly suggest that you please let us know what you think about how we use your Personal Information in case you come across an instance of your Personal Information being processed. You can do so by dropping us an email at gdpr@jzata.com Please note that we will not entertain any request from a third party for your Personal Information on your behalf.</p>
        
        <p>For your convenience, we have listed down the rights available to you under GDPR.
            <br>
        (1)	  Right to Access - You can request us to get a copy of your personal information at JZATA, without any charge we will provide you the details and relevant information around it. <br>
        (2)  Right to amend / correct - If in case you want to us to update or change any information which may not be correct, please let us know. We may update, append or completely remove such information in a way that deems fit to us. <br>
        (3) Right for erasure or restriction of processing - If in case you want us to delete your personal information being processed at JZATA or want us to stop processing that information due to the information <br> (i) as per you is not correct <br>(ii) is not lawfully processed <br>(iii) or if you think it is not required by us. Please let us know and we shall delete / stop processing your Personal Information as per your request. <br>
        (4)  Data portability - If you need we will provide your Personal Information, available with us in a commonly used machine-readable format. <br>
        (5)	  Notification in case of breach - If in case, despite of our best efforts, we suffer a data breach which in our opinion may put your Personal Information at risk, we shall notify you and relevant supervisory authority within 72 hours of us becoming aware of such breach. <br>
        Since we gather information available through various publicly available sources through the world wide web, in some cases it may happen that the information requested for removal is unintentionally re-captured. If this happens, please let us know to enable us to take appropriate steps.</p>
        We suggest you also go through our Privacy Policy for more information. <br>
        For any additional queries. Please write to us at: gdpr@jzata.com
        

</div>

{% endblock %}