{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<!--<link rel="stylesheet" href='{% static "css/Pricing.css" %}' >-->
<style>
.shakti
{
    background-color: aqua;
}

</style>
{% endblock %}

{% block main_body %}

    <div class="container shakti">
        <h1 align="center">Pricing </h1>
        <div class="div2">
        <a href="{% url 'signup' %}" class="btn btn-outline-primary">Subscribe Now</a>
    </div>
        <p class="ptext" style="font-size: 1.5rem;" align="center">Easily upgrade, change plans, or cancel at any time</p>
        <div class="columns">
            <ul class="price">
                <li class="header">BASIC </li>
                <li class="grey">2k /month</li>
                <li>..........</li>
                <li>..........</li>
                <li>..........</li>
                <li>..........</li>
                
            </ul>
        </div>

        <div class="columns">
            <ul class="price">
                <li class="header">PRO </li>
                <li class="grey">3k /month</li>
                <li>.............</li>
                <li>.............</li>
                <li>.............</li>
                <li>.............</li>
                
            </ul>
        </div>

        <div class="columns">
            <ul class="price">
                <li class="header">PREMIUM </li>
                <li class="grey">4k /month</li>
                <li>............</li>
                <li>.............</li>
                <li>.............</li>
                <li>..............</li>
                
            </ul>
        </div>
    </div>

    


{% endblock  %}
