

{% extends 'base.html' %}


{% block main_body %}

Johnnette A.I. & Big Data Technologies Private Limited (“JZATA”, “Us”, “Our”, “We”) know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. The below mentioned terms describe our privacy policy (“Privacy Policy”)
JZATA provides a research platform on companies and investors globally, and most of the research and information available on JZATA is collected from publicly available sources on the internet.
JZATA may have your information if you are a:
(i)	 User of JZATA (hereinafter defined as the “User”, “You”, “Your”) which shall mean user(s) of the website (www.jzata.com), the blog contained therein, browser extensions, mobile applications, generated reports (including export downloads and API usage), queries answered personally by Our team over email, phone or any other medium and any other service features, integrations, tools and resources, allied or additional services including all data contained therein (Collectively referred to as “JZATA”)
(ii) Founder, board member, investors or a key person associated with a company / organization or have a meaningful involvement in the startup ecosystem. In this case your publicly available business information may be with us, including your Name, your email, your designation and which company you work for
WE STRONGLY SUGGEST THAT YOU READ THIS PRIVACY POLICY CAREFULLY AND DECIDE ACCORDINGLY. BY USING JZATA, YOU AGREE TO BE BOUND BY THE TERMS OF THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THESE TERMS, PLEASE DO NOT USE JZATA.
What data do we collect and why
1.	Information Provided by You
1.1	Information for Account Creation - We collect information when You create your account for JZATA, which means your Name, your professional email, the geography around which you are primarily interested in using JZATA around.
1.2	Billing & Payment Information - Details required for billing and sending the bills to You
1.3	Details for Communications - Depending on how You are communicating with us, Your postal address, emails, emails You included or want us to include in email correspondence, your phone number if you speak to us. We may reach out to you with updates and new launches on JZATA.
We need this information of Our normal course of operations and is required to facilitate your usage of JZATA.

2	 Information We collect when you use JZATA
2.1  Browsing Information - As is true of most websites, We gather certain information automatically when you use Our Services. This includes but is not limited to information about Your systems, browsers, IP address, referring and exit pages, the pages You visit, operating system, date & time, and click stream data (“Browsing Information”). JZATA gathers Browsing Information as You use Our website (www.jzata.com) and its sub-domains, Our browser extensions, blog, mobile application, APIs and related online services. We use this information for administration of these services, bug fixing and understanding how you engage with Our services and improve them. So, in case if you face any error on JZATA, we get to know without you even explicitly telling us.
2.2	 Cookies - We set cookies on your computer device through which you use JZATA. Cookies are small text files which help Our web servers to uniquely identify you and retain your preferences in terms of how You like to use JZATA. We may use both temporary cookies (session cookies - which expire once you close your browser) and persistent cookies (which stay on your computer until you delete them). Persistent cookies can be removed by following your browser help file directions. However, if you choose to disable cookies, some areas of our services may not work properly or at all. For example, You may have to login every time there is a certain period of inactivity on JZATA.
2.3	 Third Party Services - There may be some third-party services on JZATA which are not owned by JZATA and they may set their own Cookies. We do not use or have access to those Cookies, we simply allow these third-party services to set cookies, for their proper functioning. These cookies function under their own privacy policy and can be managed through your browser.
2.4	 Third Party Links - You will find links to some third-party websites which are not controlled by JZATA. We do not have any interest in placement of those links; they are provided solely for your convenience. The destinations of these links will have their respective privacy terms and may differ from the Privacy Policy. 

Hence You shall use your discretion while accessing those links.
Please note:
(i)	 We don’t use Your Personal Information for anything other than uses specified above
(ii) We don’t serve ads on JZATA directly or indirectly Legal basis of collecting this data

<hr/>
We collect this data to:
(i)   Allow You to seamlessly use JZATA
(ii)  For Us to maintain and find out error and bugs in the system
(iii) Prevent unauthorized usage, or unusual activities in case your credentials get compromised
(iv)  Develop new features
(v)	  Understand your experience with JZATA and enhance it
(vi)  Communicate with you
(vii) Ensure that your JZATA usage is in compliance with our Terms of Use

We will collect Personal Information from you under the following circumstances:
(i)	  Where we need the personal information to perform a contract with you;
(ii)  Where the processing is in our legitimate interests and not overridden by your rights; or
(iii) Where we have your consent to do so.
As described above we have a legitimate interest in operating and providing JZATA services, communicating with you in relation to JZATA and provide you direct marketing for updates and new features of JZATA
Cookie Policy
Please visit our page on Cookie Policy
Your rights under GDPR (General Data Protection Rights)
Please visit our page on GDPR
DISCLOSURE OF INFORMATION UNDER LAW
The information / data collected from you may be shared or disclosed without obtaining your prior written consent if such disclosure is mandated under the applicable law.
CONDITIONS OF USE, NOTICES, AND REVISIONS
If you choose to visit JZATA, your visit and any dispute over privacy is subject to the terms of this Privacy Policy, including limitations on damages, resolution of disputes, and application of the law. If you have any concern about privacy at JZATA, please contact us at privacy@jzata.com. Our Privacy Policy is updated from time to time to adhere to new regulations and meet new business requirements. If there is a change to the Privacy Policy we will update it here.
JURISDICTION
The terms stated here shall be governed and interpreted by and construed in accordance with the laws of India and the courts having ordinary original jurisdiction at Uttar Pradesh, India shall have exclusive jurisdiction.

Queries
For any queries related to Privacy Policy, please write to us at: privacy@jzata.com

{% endblock %}