<h1>NEWS ARTICLE LINKS</h1>
{% for i in l%}
    {{i}}
    <br/>
{% endfor %}
{% for i in s%}
   <h1> {{i.name}}</h1>
   <br/>
    {{i.website}}
    <br/>
    {{i.Industry}}
    <br/>
    {{i.Headquatars}}
    <br/>
    {{i.type}}
    <br/>
    {{i.founded}}
    <br/>
    {{i.specialities}}
    <br/>
    {{i.linkedin}}
    <br/>
    {{i.domain}}
    <br/>
    {{i.logo}}
    <br/>
    {{i.description}}
    <br/>
    {{i.company_no}}
    <br/>
    {{i.incorporation_date}}
    <br/>
    {{i.register_address}}
    <br/>
    {{i.Industry_code}}

{% endfor %}












