*{
	padding:0;
	margin:0; 
}

.nav1{
	background-color: #002b80;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/display.jpg');
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
}

/*.nav2 ul li{
	display: inline-block;
	width: 120px;
	line-height: 50px;
	font-size: 20px;
	color: white;
	float: left;
	text-align: center;

}*/

.nav2:hover{
	background-color: white;
	color: black;
}
.one{
	color: white;
	margin-top: 10px;
}
.two{
	color: white;
	margin-top: 20px;
}
.three{
	color: white;
	margin-top: 10px;
}
.four{
	margin-top: 50px;
	margin-left: 470px;

}
 .form-control{
    width: 300px;
    float: left;
  }

  .five{
	width: 100%;
	background-color: #002266;
	height: 70px;
	/*margin-top: 50px;*/
	position: absolute;
	top: 600px;
}
.five>p{
	color: white;
	padding: 20px 10px;
	text-align: center; 
}
.six{
	background-color:#d9d9d9; 
	position: relative;
	width: 100%;
	height: 690px;
}
.seven{
width: 550px;
height: 600px;
padding:30px;
color: white; 
/*border:2px solid red;*/
float: left;
margin-top: 40px;
margin-left: 110px;
border-radius: 6px;
background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../image/code1.jpg');


}
.eight{
width: 550px;
height: 600px;
padding:30px;
color: white; 
/*border:2px solid red;*/
float: left;
margin-top: 40px;
margin-left: 20px;
border-radius: 6px;
background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../image/lap.jpg');

}
.nine{
	width: 100%;
	height: 300px;
	padding: 50px;
	color: white;
	background-image:url('../image/key.jpg');
	background-size: cover;
}
